$carousel-nav-background: rgba($white, 0.7) !default
$carousel-nav-color: $text !default
$carousel-title-background: rgba($white, 0.6) !default
$carousel-title-size: $size-7 !default
$carousel-border: none
$carousel-animation-speed: .5s
$carousel-animation-method: linear

@mixin crossBrowser($property, $val)
  -webkit-#{$property}: $val
  -moz-#{$property}: $val
  -ms-#{$property}: $val
  #{$property}: $val

.carousel-container
  position: relative
  border: $carousel-border
  display: flex
  margin: 0
  padding: 0
  background: whitesmoke
  @include crossBrowser(transform, translateX(100%))
  left: -100%

.carousel-navigation
  display: flex
  justify-content: space-around
  width: 100%
  &.is-centered
    justify-content: center
    .carousel-nav-left,
    .carousel-nav-right
      padding: 1em
  &.is-overlay
    align-items: center
    justify-content: space-between
    z-index: 99
    .carousel-nav-left,
    .carousel-nav-right
      height: 2.2em
      width: 2em
      background: $carousel-nav-background
      display: flex
      justify-content: center
      align-items: center
      color: $carousel-nav-color
      z-index: 99
      &:hover
        cursor: pointer
    .carousel-nav-right
      left: auto
      right: 0

.carousel-item
  position: relative
  flex: 1 0 100%
  &.has-background
    .is-background
      object-fit: cover
      object-position: center center
      height: 100%
      width: 100%
  .title
    position: absolute
    left: 0
    right: 0
    bottom: 0px
    padding: 1.5em
    margin: 0
    text-align: center
    background: $carousel-title-background
    font-size: $carousel-title-size

.carousel
  position: relative
  &.is-reversing
    .carousel-container
      @include crossBrowser(transform, translateX(-100%))

.hero
  &.has-carousel
    position: relative
    + .hero-body,
    + .hero-head,
    + .hero-footer
      z-index: 1

.hero-carousel
  display: flex
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  height: auto
  border: none
  margin: auto
  padding: 0
  z-index: 0

.carousel,
.hero-carousel
  overflow: hidden
  &.carousel-animated
    .carousel-container
      @include crossBrowser(transform, none)
    &.carousel-animate-slide
      .carousel-container
        @include crossBrowser(transition, transform $carousel-animation-speed $carousel-animation-method)
  &.carousel-animate-fade
    .carousel-container
      width: 100%
      @include crossBrowser(transform, translateX(100%))
    .carousel-item
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      @include crossBrowser(transition, opacity $carousel-animation-speed $carousel-animation-method)
      &.is-active
        opacity: 1
      &:not(.is-active)
        opacity: 0
